name: Bundle Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

env:
  TS_AUTHOR: Example
  TS_NAME: OnTogetherModTemplate

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Prepare Thunderstore package
        run: |
          mkdir -p thunderstore/BepInEx/plugins/BetterMediaControls

          cp bin/Release/netstandard2.1/BetterMediaControls.dll \
             thunderstore/BepInEx/plugins/BetterMediaControls/

          mkdir -p thunderstore/BepInEx/plugins/BetterMediaControls/icons

          cp icons/*.png thunderstore/BepInEx/plugins/BetterMediaControls/icons/

          cp README.md thunderstore/
      
      - name: Extract version
        run: |
          echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
      
      - name: Create Thunderstore package
        run: |
          cd thunderstore
          zip -r ../${{ env.TS_AUTHOR }}-${{ env.TS_NAME }}-${{ env.VERSION }}.zip ./*
    
      - name: Create Github Draft Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: "Release ${{ github.ref_name }}"
          files: ${{ env.TS_AUTHOR }}-${{ env.TS_NAME }}-${{ env.VERSION }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}